.banner-logo {
    width: 150px;
    margin: auto;
    display: block;
    top: 50px;
    position: relative;
}
.banner-container{
    width: 900px;
    margin:20px auto;
}
.banner-league{
    padding: 15px;
    color: black;
    background: white;
    line-height: 13px;
    display: flex;
    border-radius: 10px;
}
.banner-detail{
    width: 450px;
    margin: 26px 3px;
}
.banner-img{
    width: 450px;
    margin: 40px 0 0 164px;
    vertical-align: middle;
}
.banner-img img{
    width: 350px;
}
.banner-container{
    color: #ddd;
}
.banner-icon{
    position: relative;
    top: 5px;
}
.social-icon{
    margin: 0  0  0  365px;
}
.social-icon img{
    width: 60px;
}

@media(max-width:860px){
    .banner-container{
        width: 450px;
    }
    .banner-league{
        display: block;
    }
    .banner-img{
        width: 400px;
        margin: 40px 0 0 4px;
    }
    .banner-img img{
        width: 410px;
    }
    .social-icon{
        margin: 0  0  0  125px;
    }
}